{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<main class="mainIndex">
    <h2>A propos</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Texte</th>
                <th>Photo</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for about in abouts %}
            <tr>
                <td>{{ about.aboutText }}</td>
                <td><img src="{{ asset('uploads/images/' ~ about.aboutPicture) }}" width="80px"></td>
                <td>
                    <a href="{{ path('app_about_edit', {'id': about.id}) }}"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <a href="{{ path('admin') }}" class="btn">Retour</a>
    </div>
</main>
{% endblock %}