@media all and (max-width:1320px) {

    /*************** INDEX ***************/
    /***** ABOUT *****/
    #à-propos {
        .aboutText {
            width: 450px !important;
        }
    }
}

@media all and (max-width:1130px) {

    /*************** INDEX ***************/
    /***** ABOUT *****/
    #à-propos {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .aboutText {
            margin: 30px !important;
            width: 80% !important;
        }

        .aboutText,
        .aboutPicture {
            opacity: 1 !important;
            transform: none !important;
            /* Initial position */
            transition: none !important;
        }
    }

    /*************** ADMIN PAGES ***************/
    /***** ADMIN *****/
    .mainAdmin {
        .sidebarFullsize {
            display: none;
        }

        .sidebarResponsive {
            display: block !important;
        }
    }
}

@media all and (max-width:800px) {

    /***** SKILLS *****/
    #compétences {
        .skillBlocs {
            flex-direction: column !important;
            justify-content: space-evenly !important;
            align-items: center !important;
        }
    }

    /***** CONTACT *****/
    #me-contacter {
        padding: 40px !important;

        .custom-form {
            width: 500px !important;
        }
    }
}

@media all and (max-width:700px) {

    /***** HEADER *****/
    header {
        #presentation-section {
            margin-top: 30% !important;
            margin-left: 0 !important;
            align-items: center !important;

            h1 {
                font-size: 80px;
            }
        }
    }

    /***** LEGAL PAGES *****/
    .mainLegals {

        h1 {
            font-size: 50px !important;
            padding: 20px !important;
        }

        .blocsLegals {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .blocLeft,
            .blocRight {
                width: 100% !important;
            }
        }
    }

    /*************** ADMIN PAGES ***************/
    .mainIndex {
        .table {
            thead {
                display: none;
            }

            tr {
                display: block;
            }

            td {
                display: block;
                text-align: right !important;
            }

            td:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                margin-right: 10px;
            }
        }
    }
}

@media all and (max-width:520px) {

    /*************** ADMIN PAGES ***************/
    .buttons {
        .custom-form {
            width: 400px !important;
        }
    }

    /***** HEADER *****/
    .headerIndex {
        height: 70vh !important;

        #presentation-section {
            margin-top: 200px !important;

            h1 {
                font-size: 50px;
            }
        }
    }

    /***** ABOUT *****/
    #à-propos {
        padding: 0 !important;

        .aboutText {
            width: 260px !important;
            margin: 40px 40px !important;
        }
    }

    /***** CAREER *****/
    #parcours {
        .timeline {
            padding: 0 !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .timeline:after {
            display: none;
        }

        .timeline article {
            width: 380px !important;
            padding: 15px;
        }

        .timeline article+article {
            margin-top: 20px;
        }

        .timeline article:before {
            display: none !important;
        }

        .timeline article:after {
            display: none;
        }

        .timeline article:nth-child(even) {
            margin-left: 0 !important;
        }

        .timeline article:nth-child(even):before {
            display: none;
        }

        .timeline article:nth-child(even):after {
            display: none;
        }

        .timeline article li:not(:last-child) {
            border-bottom: 1px #aaa solid;
        }
    }

    /***** CONTACT *****/
    #me-contacter {
        .custom-form {
            width: 280px !important;
        }
    }
}

@media all and (max-width:400px) {

    /***** HEADER *****/
    .headerIndex {
        background-attachment: scroll;
        min-height: 50vh !important;
        height: auto;

        #presentation-section {
            h1 {
                font-size: 50px;
            }
        }
    }

    /***** ABOUT *****/
    #à-propos {
        .aboutPicture img {
            width: 250px !important;
            height: auto;
            margin: 20px 0 60px 0 !important;
        }
    }

    /***** SKILLS *****/
    #compétences {
        background-attachment: scroll;
    }

    /***** PROJECTS *****/
    #réalisations {
        .projectBloc {
            width: 280px !important;
            margin: 20px 0;

            img {
                width: 280px !important;
            }

            /* Désactiver l'effet hover */
            img:hover {
                box-shadow: none;
            }

            .textProject {
                opacity: 1;
                transform: translateY(0);
            }

            .projectTitle+.textProject {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .printScreen img.fullscreen {
            position: fixed;
            top: 0;
            left: 47%;
            height: auto;
        }
    }

    /***** CAREER *****/
    #parcours {
        .timeline article {
            width: 280px !important;
        }
    }

    /***** LEGAL PAGES *****/
    .mainLegals {
        h1 {
            font-size: 30px !important;
        }

        h2,
        h3 {
            font-size: 25px !important;
        }
    }

    /***** ADMIN PAGES *****/
    .navbar-expand .navbar-nav .nav-link {
        padding: 0 !important;
    }

    .buttons {
        .custom-form {
            width: 280px !important;
        }
    }

    /***** CV *****/
    #cv-section {
        background-attachment: scroll;
    }

    /***** CONTACT *****/
    #me-contacter {
        background-attachment: scroll;
    }
}