/*************** INDEX ***************/
@media all and (max-width:1320px) {
    /***** ABOUT *****/
    #about-section {
        .aboutText {
            width: 450px !important;
        }
    }
}

@media all and (max-width:1130px) {
    /***** ABOUT *****/
    #about-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .aboutText {
            margin: 30px !important;
            width: 80% !important;
        }

        .aboutText,
        .aboutPicture {
            opacity: 1 !important;
            transform: none !important;
            /* Initial position */
            transition: none !important;
        }
    }
}

@media all and (max-width:800px) {

    /***** SKILLS *****/
    #skills-section {
        .skillBlocs {
            flex-direction: column !important;
            justify-content: space-evenly !important;
            align-items: center !important;
        }
    }

    /***** CONTACT *****/
    #contact-section {
        padding: 40px !important;
        .custom-form {
            width: 500px !important;
        }
    }
}

@media all and (max-width:700px) {

    /***** HEADER *****/
    header {
        #presentation-section {
            margin-top: 30% !important;
            margin-left: 0 !important;
            align-items: center !important;

            h1 {
                font-size: 80px;
            }
        }
    }

    /***** LEGAL PAGES *****/
    .mainLegals {

        h1 {
            font-size: 50px !important;
            padding: 20px !important;
        }

        .blocsLegals {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            .blocLeft,
            .blocRight {
                width: 100% !important;
            }
        }
    }
}

@media all and (max-width:520px) {

    /***** HEADER *****/
    header {
        height: 70vh !important;

        #presentation-section {
            margin-top: 200px !important;

            h1 {
                font-size: 50px;
            }
        }
    }

    /***** ABOUT *****/
    #about-section {
        padding: 0 !important;

        .aboutText {
            width: 260px !important;
            margin: 40px 40px !important;
        }
    }

    /***** CAREER *****/
    #career-section {
        .timeline {
            padding: 0 !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .timeline:after {
            display: none;
        }

        .timeline article {
            width: 380px !important;
            padding: 15px;
        }

        .timeline article+article {
            margin-top: 20px;
        }

        .timeline article:before {
            display: none !important;
        }

        .timeline article:after {
            display: none;
        }

        .timeline article:nth-child(even) {
            margin-left: 0 !important;
        }

        .timeline article:nth-child(even):before {
            display: none;
        }

        .timeline article:nth-child(even):after {
            display: none;
        }

        .timeline article li:not(:last-child) {
            border-bottom: 1px #aaa solid;
        }
    }
    /***** CONTACT *****/
    #contact-section {
        .custom-form {
            width: 280px !important;
        }
    }
}

@media all and (max-width:400px) {

    /***** HEADER *****/
    header {
        #presentation-section {
            h1 {
                font-size: 40px;
            }
        }
    }

    /***** ABOUT *****/
    #about-section {
        .aboutPicture img {
            width: 250px !important;
            height: auto;
            margin: 20px 0 60px 0 !important;
        }
    }

    /***** PROJECTS *****/
    #projects-section {
        .projectBloc {
            width: 280px !important;
            margin: 20px 0;

            img {
                width: 280px !important;
            }
        }
        .printScreen img.fullscreen {
            position: fixed;
            top: 0;
            left: 47%;
            height: auto;
        }
    }

    /***** CAREER *****/
    #career-section {
        .timeline article {
            width: 280px !important;
        }
    }

    /***** LEGAL PAGES *****/
    .mainLegals {
        h1 {
            font-size: 30px !important;
        }

        h2, h3 {
            font-size: 25px !important;
        }
    }
}