@import 'mixins';

/*************** GLOBAL ***************/

h1 {
    @include title1;
}

h2 {
    @include title2;
}

h2::after {
    display: block;
    height: 1px;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: #f4eff3 1px 0 5px;
}

h3 {
    @include title3;
}

h3::after {
    display: block;
    height: 1px;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: #f4eff3 1px 0 5px;
}

p,
a,
label,
select {
    @include paragraph;
}

.button {
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button:hover {
    color: white;
    text-decoration: none;
}

.btn {
    border: none;
    background-color: none;
}

/*************** INDEX ***************/

/***** HEADER *****/
header {
    height: 100vh;
    background-image: linear-gradient(rgb(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url(../images/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .navbar-nav {
        a {
            text-transform: uppercase;
            margin: 20px;
            font-size: 20px;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
        }

        a:after {
            content: '';
            display: block;
            margin: auto;
            height: 1px;
            width: 0;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
        }

        a:hover:after {
            width: 100%;
            background: white;
        }
    }

    #presentation {
        height: 80vh;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-shadow: #f4eff3 1px 0 5px;
    }
}

/***** ABOUT *****/
#about {
    background-color: #0D121C;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px;

    .aboutText {
        width: 600px;
        text-align: center;
        margin: 60px 0;
        line-height: 30px;
    }

    .aboutPicture img {
        box-shadow: rgba(247, 246, 248, 0.899) 0px 0px 30px 0px;
        border-radius: 50%;
        margin: 60px 0;
    }
}

/***** SKILLS *****/
#skills {
    background-image: linear-gradient(rgba(1, 1, 1, 0.85), rgba(1, 1, 1, 0.85)), url(../images/imageCode2.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 90px;

    .skillBlocs {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .skillBloc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 280px;
            margin: 40px;

            img {
                border-radius: 50%;
                margin: 20px;
            }
        }
    }
}

/***** PROJECTS *****/
#projects {
    background-color: #0D121C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px;

    .projectBlocs {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
        margin-bottom: 20px;

        .projectBloc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 400px;
            margin: 30px 40px;

            img {
                width: 400px;
                margin: 20px 10px 40px 10px;
                border-radius: 10px;
                box-shadow: rgba(247, 246, 248, 0.899) 0px 0px 20px 0px;
            }

            img:hover {
                width: 510px;
                transition: 1s;
            }
        }
    }
}

/***** CAREER *****/
#career {
    background-color: #0D121C;
    padding: 60px;

    h2 {
        color: white;
    }

    * {
        box-sizing: border-box;
    }

    .timeline {
        position: relative;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 40px 60px;
    }

    .timeline:after {
        content: "";
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 50%;
        width: 8px;
        background: #eeeeee;
        border-radius: 3px;
        z-index: 1;
    }

    .timeline article {
        position: relative;
        background: #eeeeee;
        width: calc(50% - 40px);
        padding: 15px;
        box-shadow: rgba(247, 246, 248, 0.899) 0px 0px 10px 0px;
    }

    .timeline article+article {
        margin-top: 20px;
    }

    .timeline article:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: calc(100% + 26px);
        background: #d6d6d6;
        width: 24px;
        height: 24px;
        border: 6px #eeeeee solid;
        border-radius: 50%;
        z-index: 2;
    }

    .timeline article:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 16px solid #eeeeee;
        border-bottom: 20px solid transparent;
    }

    .timeline article:nth-child(even) {
        margin-left: calc(50% + 48px);
    }

    .timeline article:nth-child(even):before {
        left: auto;
        right: calc(100% + 26px);
    }

    .timeline article:nth-child(even):after {
        left: auto;
        right: 100%;
        border-left: none;
        border-right: 16px solid #eeeeee;
    }

    .timeline article ul {
        margin: 0;
        padding: 0;
    }

    .timeline article li {
        list-style: none;
        padding: 8px 0;
    }

    .timeline article li:not(:last-child) {
        border-bottom: 1px #aaa solid;
    }

    .timeline article li span {
        display: inline-block;
        width: 70px;
        color: #346abf;
    }
}

/***** CV *****/
#cv {
    background-image: url(../images/imageCode.jpg);
    background-position: center;
    background-size: cover;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    .cv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: #0D121C solid 4px;
        box-shadow: rgba(1, 1, 1, 1) 0px 0px 20px 0px;

        .cv-link {

            a {
                font-size: 30px;
                font-weight: bold;
                color: #0D121C;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}


/***** CONTACT *****/



/***** FOOTER *****/