<form method="post" action="{{ path('app_pictures_delete', {'id': picture.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
	<button type="submit" class="btn">Supprimer</button>
</form>
