{% extends 'base.html.twig' %}

{% block title %}Nouveau Domaine d'expertise{% endblock %}

{% block body %}
<main class="mainIndex">
    <h2>Ajouter</h2>

    <div class="buttons">
        {{ include('skills/_form.html.twig') }}
        <a href="{{ path('app_skills_index') }}" class="btn">Retour</a>
    </div>
</main>
{% endblock %}
