{% extends 'base.html.twig' %}

{% block title %}Modifier Présentation{% endblock %}

{% block body %}
<main class="mainIndex">
    <h2>Modifier</h2>

    <div class="buttons">
        {{ include('presentation/_form.html.twig', {'button_label': 'Valider'}) }}
        <a href="{{ path('app_presentation_index') }}" class="btn">Retour</a>
    </div>
</main>
{% endblock %}
