<form method="post" action="{{ path('app_career_delete', {'id': career.id}) }}" onsubmit="return confirm('Êtes-vous sûre de supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ career.id) }}">
    <button type="submit" style="border:none; background-color:white; color:black;"><i class="fa-regular fa-trash-can"></i></button>
</form>
