{% extends 'base.html.twig' %}

{% block title %}Edit Career{% endblock %}

{% block body %}
    <h1>Edit Career</h1>

    {{ include('career/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_career_index') }}">back to list</a>

    {{ include('career/_delete_form.html.twig') }}
{% endblock %}
